<!-- Top navigation -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-button (click)="logout()" class="animated-logout-button">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Main content -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <main role="main" class="content">
      <span class="greeting">Welcome, {{ authService.userData.displayName || 'User' }}!</span>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
